# Ignore Git
.git
.gitignore

# Ignore Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Ignore local environments
venv/
.venv/
env/

# Ignore local OS files
.DS_Store
Thumbs.db

# Ignore Docker files themselves
Dockerfile
docker-compose.yaml
.dockerignore